
@{
    Layout = null;
}
<div id="pagetitle">
    <div class="wrapper">
        <h1>@ViewBag.Fun &rarr; <span>@ViewBag.Title</span></h1>
        <!-- Quick search box -->
        <form action="" method="get">
            <input class="" type="text" id="q" name="q" value="请输入搜索关键字" />
        </form>
    </div>
</div>