* text=auto

*.cs -text diff=csharp
*.cshtml -text diff=csharp

*.js -text diff=csharp
*.css -text diff=csharp
*.html -text diff=csharp

*.csproj -text merge=union 
*.vbproj -text merge=union 
*.fsproj -text merge=union 
*.dbproj -text merge=union 
*.sln -text merge=union 
