* text=auto

*.cs -text diff=csharp
*.cshtml -text

*.js -text
*.css -text
*.html -text

*.csproj -text merge=union 
*.vbproj -text merge=union 
*.fsproj -text merge=union 
*.dbproj -text merge=union 
*.sln -text merge=union 
