@{
    Layout = null;
}
<div class="layui-header okadmin-header">
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item">
            <a class="ok-menu ok-show-menu" href="javascript:;" title="菜单切换">
                <i class="layui-icon layui-icon-shrink-right" id="ok_app_menu"></i>
            </a>
        </li>
        <li class="layui-nav-item">
            <a class="ok-refresh" href="javascript:;" title="刷新">
                <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
        </li>
        <li class="layui-nav-item ok-input-search">
            <input type="text" placeholder="搜索..." class="layui-input layui-input-search" />
        </li>
        <li class="ok-nav-item ok-hide-md">
            <!-- 天气信息 -->
            <div class="weather">
                <div id="tp-weather-widget"></div>
            </div>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="no-line layui-nav-item layui-hide-xs">
            <a id="notice" class="flex-vc pr10 pl10" href="javascript:;">
                <i class="ok-iconbell icon-head-i"></i>@*<cite>系统公告</cite>*@
            </a>
        </li>

        <li class="no-line layui-nav-item layui-hide-xs">
            <a id="lock" class="flex-vc pr10 pl10" href="javascript:;">
                <i class="ok-iconlock_outline icon-head-i"></i>@*<cite>锁屏</cite>*@
            </a>
        </li>

        <li class="no-line layui-nav-item layui-hide-xs">
            <a id="fullScreen" class=" pr10 pl10" href="javascript:;">
                <i class="layui-icon layui-icon-screen-full"></i>@*<cite>全屏</cite>*@
            </a>
        </li>

        <li class="no-line layui-nav-item">
            <a href="javascript:;">
                <img src="@Url.Content("~/Content/imgs/head.png")" class="layui-nav-img">
                Admin
            </a>
            <dl id="userInfo" class="layui-nav-child">
                <dd>
                    <a lay-id="u-1" href="javascript:;" data-url="pages/user/user.html">
                        个人中心<span class="layui-badge-dot"></span>
                    </a>
                </dd>
                <dd><a lay-id="u-2" href="javascript:;" data-url="pages/user/user-info.html">基本资料</a></dd>
                <dd><a lay-id="u-3" href="javascript:;" data-url="pages/user/changePwd.html">安全设置</a></dd>
                <dd>
                    <hr />
                </dd>
                <dd><a href="javascript:void(0)" id="logout">退出登录</a></dd>
            </dl>
        </li>
    </ul>
</div>