@{
    Layout = null;
}
<div class="layui-side layui-side-menu okadmin-bg-20222A ok-left">
    <div class="layui-side-scroll okadmin-side">
        <div class="okadmin-logo">ok-admin v2.0</div>
        <div class="user-photo">
            <a class="img" title="我的头像">
                <img src="@Url.Content("~/Content/imgs/head.png")" class="userAvatar">
            </a>
            <p>你好！<span class="userName">bobi</span>, 欢迎登录</p>
        </div>
        <!--左侧导航菜单-->
        <ul id="navBar" class="layui-nav okadmin-nav okadmin-bg-20222A layui-nav-tree">
            <li class="layui-nav-item layui-this">
                <a href="javascript:;" lay-id="1" data-url="pages/home.html">
                    <i is-close=false class="ok-icon ok-iconairplay"></i>
                    后台首页
                </a>
            </li>
        </ul>
    </div>
</div>