@{
    Layout = null;
}
<div class="bj">
    @*<a href="/1.html"><img src="product/qiumoji2.jpg" alt="球磨机" border="0" align="right" style="padding: 5px;"></a>*@
    <center><h2 style="text-align:center;">宁远县烟草专卖局（分公司）简介</h2></center>
    &nbsp;&nbsp;&nbsp;&nbsp;宁远县烟草专卖局(公司)成立于1985年,1989年接管烟叶产购销业务,负责全县两烟生产经营和市场的专卖管理，2005年取消县级公司法人资格。上世纪九十年代中后期，由于种种原因导致宁远公司生产经营跌入低谷，人员多、包袱重、困难大，公司最高亏损达1.4亿元，银行贷款余额达6亿元，一度被纳入破产对象。进入二十一世纪之后，宁远烟草痛定思痛，在员工中积极倡导“卧薪尝胆、重新创业”的理念，努力做大两烟规模，深化企业内部改革，2005年依法分流员工200多人。十年的励精图治，宁远烟草从“条件差、困难多、效益低、发展后劲乏力”的状况，步入到“运作机制良好、稳定健康发展、企业内外和谐”的良性轨道。分公司现有员工446人，其中在职员工277人，离退休人员169人，设4个基层烟草站，7个烟草分站，11个股（室）。辖区内有卷烟零售户2569户，烟农3000余户。
    “十二五”期间，全县系统积极应对复杂多变的发展环境，紧扣实践“三大课题”、提升“五个形象”总体要求，坚持稳中求进总基调，实现了较快发展。先后开展了“基础管理年”、“质量管理年”、“精细管理年”等活动，推行预算管理、现代人力资源管理、“三维三层”绩效考核等先进管理方法，企业管理基础进一步夯实，内部管理进一步规范，管理效能进一步提高。两烟销售收入由2010年的4.82亿元增加到2015年的10. 75亿元，增幅123%，税利由2010年的0.85亿元增加到2015年的1.86亿元，增幅118.8%，资产总额由1.09亿元提高到1.65亿元，增长59.5%。多次被省政府评为“全省烟叶工作先进单位”“现代烟草农业建设先进单位”，先后获得了湖南省烟草商业系统“优秀县级分公司标兵单位”、“ 优秀县级烟草专卖局”、“永州市文明标兵窗口单位”、专卖办获“全省烟草系统先进集体”等荣誉称号。
</div>
